{% extends "FBgroupeBundle::layout.html.twig" %}
{% block title "Initialisation de Groupe" %}
{% block autresMenus%}
<!--Menu Groupe-->
<a href="{{ path('_security_check') }}" title="Gestion des groupes" >
 <span id="groupes" class="menuitem" > Groupes </span> </a> 
 
{% endblock%}
{%block connect  %}
<a href="{{utilisateur.link}}"> <span id="conn" class="menuitem"> {{utilisateur.name}}</span></a>  <img id="avatar" src="https://graph.facebook.com/{{utilisateur.id}}/picture" alt="photo de profile"/>  
{% endblock %}
{% block content %}
<br>
Vous êtes bien connecté alors à present choisissez un groupe parmi les groupes dont vous êtes membre et que vous voulez importer les données, en saisissant un nom de groupe
<br><br> <span class="labele"> 
Rechercher un groupe &nbsp;</span> <input id="rechgroup" type="text"  value=" Saisissez le nom d'un groupe" onfocus="this.value='' " style="width: 350px; border-radius: 7px 7px 7px 7px;box-shadow:inset 2px 0 10px #777777; "/><br><br><br>
<center> 
<input id="button" height="40px" type=button title="Saisissez texte"  value="Bouton Teste" />
</center>
<p id="contenudonnes">
    
</p>
{% block scripts_declaration %} 
<script type="text/javascript"> 
    
var GroupeChoisit;
function InialiserRechGroupe(){
      //Recuperation de la liste des groupes à partir de facebook
      FB.api('me?fields=groups.fields(name,id,icon,email,privacy,description)&&access_token='+$.cookie('accessToken'), function(response){ 
      if (!response || response.error) {
       console.log("Message d'erreur "+response.error.message);
        }
       var listGroupes=$.map(response.groups.data, function(groupe) {
                            return {
                            label         : groupe.name,//Nom du groupe
                            value         : groupe.id,  //Id du groupe
                            icone         : groupe.icon,
                            email         : groupe.email,
                            privacy       : groupe.privacy,
                            description   : groupe.description
                                   };
                                   });
                                   
        initAutoComlete(listGroupes);
        
       });}
    
    function initAutoComlete(listGroupes){
      $("#rechgroup").autocomplete({
      minLength: 1,
      source   : listGroupes ,
      focus    : function(event,ui){
      $("#rechgroup").val( ui.item .label);
        return false; 
      },
      select   : function (event, ui){
      GroupeChoisit=ui.item;
               return false;
               }
               })
      .data("ui-autocomplete")._renderItem = function( ul, item ) {
      return $("<li>")
      .append("<a><div><img src='"+item.icone+"' style=' height: 35px;width: 35px; top: 16px ;float: left; right 10px'/>"+
              "<div style=' padding-left:56px;  position: relative; '> "+ item.label +" </div> "+
              "<div style=' padding-left:56px;  position: relative;  '> Id  groupe : "+ item.value +" </div></div></a>")
      .appendTo(ul);
       };
       };
       //On doit s'assurer que l'objet FB est bien initialisé.
       function onFbInit() {
        if (typeof(FB) != 'undefined' && FB != null ) {              
           InialiserRechGroupe();   
        }
    }
 </script>
{% endblock %}
{% endblock %} 
{% block scripts2 %} 
 
<script type="text/javascript">
            
    
</script>  
    

{% endblock %} 