

<div>
<pre>
                        Id uttilisateur     :  {{ tableau['id'] }} 
                        Nom                 :  {{ tableau['name'] }} 
                        Nom d'utilisateur   :  {{ tableau['username'] }}
                        Lien                :  {{ tableau['link'] }}  
</pre>
</div>
