{% extends "FBgroupeBundle::layout.html.twig" %}
{% block title "ERRUER" %}
{%block connect  %}
{% endblock %}
{% block content %}
<h3 style="color: red"> ERREUR SUR LA SECTION: {{numero}} </h3>

{% endblock %} 