{% extends "FBgroupeBundle::layout.html.twig" %}
{% block title "ERRUER" %}
{%block connect  %}
{% endblock %}
{% block content %}
<h3 style="color: red"> ERREUR Num  {{num}} , Message  {{msg}}</h3>
<input id="access_token" type="hidden" value="{{access_token}}"
       
{% endblock %} 
{% block scripts %} 
<script type="text/javascript">  
    $(function (){
      var  access_token=$("#access_token").value;
      $("#affiche").text(access_token);
        
    });
</script>
{% endblock %}