{% extends "FBgroupeBundle::layout.html.twig" %}
{% block title "Initialisation de Groupe" %}
{% block scripts%}
<script type="text/javascript">
    
$(function() {
$("#button").button().click(function (){
    alert("Je ne sais pas pouquoi ça ne marche pas");
});

});
    </script>
{% endblock%}
{%block connect  %}
<a href="{{utilisateur.link}}"> <span id="conn" class="menuitem"> {{utilisateur.name}}</span></a>  <img id="avatar" src="https://graph.facebook.com/{{utilisateur.id}}/picture" alt="photo de profile"/> </span> 
{% endblock %}
{% block content %}
Vous êtes bien connecter alors à present choisissez un groupe dont vous voulez importer les données, en saisissant un nom de groupe
<br> <span class="labele"> Rechercher un groupe &nbsp;</span> <input id="rechgroup" type="text"   value="  Commencer à saisir le nom d'un groupe" onfocus="this.value=''" style="width: 300px;  border-radius: 7px 7px 7px 7px;box-shadow:inset 2px 0 10px #777777; "/>
<br> <input id="button" type=button title="Saisissez texte"  value="Bouton Teste" />
{% endblock %} 